<template>
  <form @submit.prevent="handleSubmit">
    <h3>Sign up</h3>
    <div class="form-group">
      <label>First Name*</label>
      <input
        type="text"
        class="form-control"
        placeholder="First Name"
        v-model="first_name"
        required
      />
    </div>
    <div class="form-group">
      <label>Last Name*</label>
      <input
        type="text"
        class="form-control"
        placeholder="Last Name"
        v-model="last_name"
        required
      />
    </div>
    <div class="form-group">
      <label>Email*</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        v-model="email"
        required
      />
    </div>
    <div class="form-group">
      <label>Phone number*</label>
      <input
        type="tel"
        class="form-control"
        placeholder="OXXXXXXXXX"
        v-model="phone_number"
        required
      />
    </div>
    <div class="form-group">
      <label>License Number</label>
      <input
        type="number"
        class="form-control"
        placeholder="License Number"
        v-model="license_number"
      />
    </div>
    <div class="form-group">
      <label>Password*</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        v-model="password"
        required
      />
    </div>
    <div class="form-group">
      <label>Confirm Password*</label>
      <input
        type="password"
        class="form-control"
        placeholder="Confirm Password"
        v-model="password_confirm"
        required
      />
    </div>
    <button class="btn btn-primary btn-block">Sign up</button>
  </form>
</template>

<script>
export default {
  name: 'Register',
  data() {
    return {
      first_name: '',
      last_name: '',
      email: '',
      phone_number: '',
      license_number: '',
      password: '',
      password_confirm: ''
    }
  },
  methods: {
    handleSubmit() {
      const data = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        phone_number: this.phone_number,
        license_number: this.license_number
      }
      console.log(data)
    }
  }
}
</script>

<style lang="scss" scoped></style>
